
{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<style>
  body{
    background-color:aliceblue;
  }
  .btn{
    background-color:rgb(182, 72, 209);
  }
  .col-md-7{
    margin-top:20vh;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class='col-md-3' id='login'></div>
    <div class='col-md-7'>
    <div class="col-md-10">
      {% if form.errors %}
        <p> Incorrect username or password </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center" style="font-family: 'Dancing Script', cursive;"><i class="fab fa-instagram"></i><b> Instapp</b></h3>
          <h3 class="text-center">Log In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          <div>Don't have an account? <a href="/accounts/register"> Register here</a></div>
        </div>

      </div>
      <p class='text-muted small' style="text-align: center;">&copy; 2021 | Instapp</p>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div></div>
  </div>
</div>

{% endblock %}